/* COLOR PALETTE =>
$primary-brand-color: #0b0c22;
$secondary-brand-color: #ef3346;
$pink-color: #de9cee;
$blue-color: #357fef;
$purple-color: #d37ce9;
$grey-color: #847cb3;
$light-grey-card-color: #f1f5f9;
$black-text-color: #1e1a37; */

/* TYPOGRAPHY =>
$heading-font-family: "Tiempos Fine Regular", sans-serif;
$body-font-family: "Aileron Regular", sans-serif; 
font-family: 'EB Garamond', serif;
font-family: 'Manrope', sans-serif;
font-family: 'Poppins', sans-serif;
*/

#root .App {
  color: #1e1a37;
  padding: 40px 20px;
  animation: fadeInAnimation ease-in 2s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  background-color: #0b0c22;
}

.table-container.MuiPaper-root {
  background-color: #f1f5f9;
  border-radius: 4px;
}

/* Search Bar Styles */
.search-bar {
  width: 50%;
  display: flex;
  align-items: center;
  background-color: #fff;
  padding: 8px 16px;
  border-radius: 2px;
  border: 1px solid #847cb3;
  border-top: none;
}
.search-bar svg {
  color: #847cb3;
}

.search-input {
  border: none;
  outline: none;
  margin-left: 8px;
  width: 100%;
  color: #847cb3;
}

.active-pill {
  background-color: #65d399;
  border-radius: 16px;
  color: #fff;
  font-weight: 500;
  font-size: 14px;
  text-transform: capitalize;
  display: flex;
  align-items: center;
  padding: 0 12px;
  font-family: "EB Garamond", serif;
  height: 28px;
  position: absolute;
  right: -24px;
  top: 0;
}

.product-image-parent {
  display: flex;
  justify-content: center;
  position: relative;
}
.category-pill {
  background: #ef3346;
  font-size: 15px;
  text-align: center;
  text-transform: capitalize;
  color: #fff;
  padding: 6px 16px;
  border-radius: 16px;
  position: absolute;
  bottom: -2%;
  font-family: "EB Garamond", serif;
}

thead tr th.header {
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  color: #333;
  font-weight: 500;
  background-color: #fff;
}

tbody.MuiTableBody-root tr td {
  font-family: "Manrope", sans-serif;
  color: #1e1a37;
  font-weight: 500;
  font-size: 1rem;
}

.MuiPaper-root.product-card {
  background-color: #fff;
  color: #0b0c22;
}
.MuiAccordionSummary-content {
  align-items: center;
  gap: 20px;
  position: relative;
}
.MuiTypography-root.product-title {
  font-family: "Poppins", sans-serif;
  padding: 10px 60px 10px 10px;
}

ul {
  list-style: none;
  padding: 0;
}
li:not(:last-child) {
  margin-bottom: 12px;
}
