/* COLOR PALETTE =>
$primary-brand-color: #0b0c22;
$secondary-brand-color: #ef3346;
$pink-color: #de9cee;
$blue-color: #357fef;
$purple-color: #d37ce9;
$grey-color: #847cb3;
$light-grey-card-color: #f1f5f9;
$black-text-color: #1e1a37; */

/* TYPOGRAPHY =>
$heading-font-family: "Tiempos Fine Regular", sans-serif;
$body-font-family: "Aileron Regular", sans-serif; 
font-family: 'EB Garamond', serif;
font-family: 'Manrope', sans-serif;
font-family: 'Poppins', sans-serif;
*/

#root .App {
  color: #1e1a37;
  padding: 40px 20px;
  animation: fadeInAnimation ease-in 2s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  background-color: #0b0c22;
}

.info-text {
  color: #847cb3;
  text-align: center;
  padding-bottom: 40px;
}
.info-text a {
  color: #d37ce9;
  text-decoration: none;
}

.table-container.MuiPaper-root {
  background-color: #f1f5f9;
  border-radius: 4px;
}

/* Search Bar Styles */
.search-bar {
  width: 60%;
  display: flex;
  align-items: center;
  background-color: #fff;
  padding: 8px 16px;
  border-radius: 2px;
  border: 1px solid #847cb3;
  border-top: none;
}
.search-bar svg {
  color: #847cb3;
}

.search-input {
  border: none;
  outline: none;
  margin-left: 8px;
  width: 100%;
  color: #847cb3;
}

.active-pill {
  background-color: #65d399;
  border-radius: 16px;
  color: #fff;
  font-weight: 500;
  font-size: 14px;
  text-transform: capitalize;
  display: flex;
  align-items: center;
  padding: 0 12px;
  font-family: "EB Garamond", serif;
  height: 28px;
  position: absolute;
  right: -24px;
  top: 0;
}

.product-image-parent {
  display: flex;
  justify-content: center;
  position: relative;
}
.category-pill {
  background-color: #0b0c22;
  font-size: 15px;
  text-align: center;
  text-transform: capitalize;
  color: #fff;
  padding: 6px 16px;
  border-radius: 16px;
  position: absolute;
  bottom: -2%;
  font-family: "EB Garamond", serif;
}

thead tr th.header {
  /* font-family: "Poppins", sans-serif; */
  font-family: "Space Grotesk", sans-serif;
  font-size: 1rem;
  color: #333;
  font-weight: 500;
  background-color: #fff;
  border-bottom: none;
}

tbody.MuiTableBody-root tr td {
  font-family: "Space Grotesk", sans-serif;
  color: #1e1a37;
  font-weight: 400;
  font-size: 1rem;
  border-bottom: none;
}

.MuiPaper-root.product-card {
  background-color: #fff;
  color: #0b0c22;
  box-shadow: none;
  padding: 10px;
}
.MuiAccordionSummary-content {
  align-items: center;
  gap: 20px;
  position: relative;
}
.MuiTypography-root.product-title {
  font-family: "Space Grotesk", sans-serif;
  padding: 10px 20px 10px 10px;
  font-weight: 500;
  text-wrap: balance;
}
.MuiAccordionSummary-content.MuiAccordionSummary-contentGutters {
  margin-top: 0;
}
.MuiAccordionSummary-content.Mui-expanded.MuiAccordionSummary-contentGutters {
  margin: 0;
}

div p.MuiTypography-root {
  font-family: "Space Grotesk", sans-serif;
}
div p.MuiTypography-root.bold-text {
  font-weight: 500;
}
.description {
  padding-top: 20px;
}
.subheading {
  font-weight: 500 !important;
  color: #7e88c3;
}

.content-with-edit-box {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  cursor: pointer;
  position: relative;
}
.edit-icon {
  opacity: 0;
  transition: opacity 0.3s ease;
}
.content-with-edit-box:hover .edit-icon {
  opacity: 1;
}

button.edit-icon {
  outline: none;
  cursor: pointer;
  border: none;
  background: transparent;
  color: #1c00de;
  display: flex;
  align-items: center;
  font-family: "poppins", serif;
  font-size: 14px;
}
button.edit-icon svg {
  font-size: 20px;
}

.price-icon {
  color: #ef3346;
}
.inventory-icon {
  color: #d37ce9;
}
.MuiSvgIcon-fontSizeMedium.price-icon,
.MuiSvgIcon-fontSizeMedium.inventory-icon {
  font-size: 16px;
  margin-bottom: -2px;
  padding-right: 2px;
}

ul {
  list-style: none;
  padding: 0;
  margin-top: 0;
}
li {
  display: flex;
  justify-content: space-between;
}
li:not(:last-child) {
  margin-bottom: 12px;
}
